# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build & Report

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore: 
      - '.github/**'
  pull_request:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore: 
      - '.github/**'

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
        token: ${{ secrets.PAT_TOKEN }}
    - uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 25-ea
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Upload Jacoco report artifact
      uses: actions/upload-artifact@v5
      with:
        name: jacoco-report
        path: target/site/jacoco/jacoco.xml
  
  report:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v5
    - name: Download Jacoco report artifact
      uses: actions/download-artifact@v6
      with:
        name: jacoco-report
        path: target/site/jacoco
    - name: Send coverage to Codacy
      uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
